    .jumbotron {
        background-color: #24A1FD;
        color: white;
        margin-top: 50px;
    }
    
    .btn {
        color: black;
        background-color: #9EF0F1;
    }
    
    footer {
        padding: 10px 10px 0 10px;
        background-color: #24A1FD;
        color: white;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    
    .card-sdc {
        flex: 1 150px;
        padding: 2px 5px 2px 5px;
        margin-top: 10px;
        ;
    }
    
    .btn-Adquirir {
        width: 100%;
    }
    
    .navbar {
        background-color: aqua;
    }

    .espacio-icon {
        padding-right: 10px;
    }